In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("../data/full_data.csv", low_memory=False)

In [3]:
df['HomeTeam'].value_counts()

HomeTeam
Everton             456
Liverpool           456
Arsenal             456
Man United          456
Tottenham           456
Chelsea             456
Man City            437
Newcastle           418
Aston Villa         399
West Ham            399
Fulham              323
Southampton         304
Sunderland          266
West Brom           247
Leicester           228
Crystal Palace      228
Bolton              209
Blackburn           209
Middlesbrough       190
Stoke               190
Wolves              190
Burnley             171
Wigan               152
Swansea             133
Bournemouth         133
Watford             133
Brighton            133
Charlton            133
Birmingham          133
Norwich             133
Portsmouth          133
Leeds               133
Hull                 95
Sheffield United     76
Reading              57
Brentford            57
Derby                57
QPR                  57
Cardiff              38
Huddersfield         38
Ipswich              38
Nott'm Forest        38
Blackpool            19
Bradford             19
Coventry             19
Luton                19
Name: count, dtype: int64

In [4]:
# 만수르가 인수한 08-09 시즌 맨시티부터 시작
for i in range(len(df)):
    if len(df.loc[i, 'Date'].split('/')[2]) == 4 :
        df.loc[i, 'Date'] = df.loc[i, 'Date'].split('/')[2] + '-' + df.loc[i, 'Date'].split('/')[1] + '-' + df.loc[i, 'Date'].split('/')[0]
    else :
        df.loc[i, 'Date'] =  '20'+ df.loc[i, 'Date'].split('/')[2] + '-' + df.loc[i, 'Date'].split('/')[1] + '-' + df.loc[i, 'Date'].split('/')[0]

df['Date'] = pd.to_datetime(df['Date'])
df = df.sort_values(by='Date')
df.reset_index(drop=True, inplace=True)

In [5]:
df['Date'][3035:3045]

3035   2008-05-11
3036   2008-05-11
3037   2008-05-11
3038   2008-05-11
3039   2008-05-11
3040   2008-08-16
3041   2008-08-16
3042   2008-08-16
3043   2008-08-16
3044   2008-08-16
Name: Date, dtype: datetime64[ns]

In [6]:
df = df[3040:]

df.reset_index(drop=True, inplace=True)

In [7]:
df['HomeTeam'].value_counts() # Arsenal, Chelsea, Man City, Liverpool, Man United, Tottenham, Everton 끼리 상대전적만 분석

HomeTeam
Everton             304
Man United          304
Tottenham           304
Liverpool           304
Arsenal             304
Man City            304
Chelsea             304
West Ham            285
Newcastle           266
Aston Villa         247
Southampton         209
Crystal Palace      209
Fulham              190
Stoke               190
West Brom           190
Burnley             171
Leicester           171
Wolves              171
Sunderland          171
Swansea             133
Brighton            133
Bournemouth         133
Watford             114
Norwich             114
Wigan                95
Hull                 95
Bolton               76
Blackburn            76
QPR                  57
Sheffield United     57
Leeds                57
Brentford            57
Middlesbrough        38
Portsmouth           38
Cardiff              38
Birmingham           38
Huddersfield         38
Nott'm Forest        38
Reading              19
Blackpool            19
Luton                19
Name: count, dtype: int64

In [8]:
use_team = ['Arsenal', 'Chelsea', 'Man City', 'Liverpool', 'Man United', 'Tottenham', 'Everton']

In [9]:
for i in range(len(df)):
    if df['HomeTeam'][i] in use_team :
        pass
    else :
        df.drop(i, axis=0, inplace=True)

df.reset_index(drop=True, inplace=True)

In [10]:
len(df)

2128

In [11]:
df['HomeTeam'].value_counts()

HomeTeam
Everton       304
Arsenal       304
Man United    304
Chelsea       304
Liverpool     304
Tottenham     304
Man City      304
Name: count, dtype: int64

In [12]:
df['AwayTeam'].value_counts()

AwayTeam
West Ham            105
Newcastle            98
Man City             96
Chelsea              96
Arsenal              96
Everton              96
Liverpool            96
Tottenham            96
Man United           96
Aston Villa          91
Southampton          77
Crystal Palace       77
West Brom            70
Stoke                70
Fulham               70
Sunderland           63
Burnley              63
Wolves               63
Leicester            63
Swansea              49
Bournemouth          49
Brighton             49
Norwich              42
Watford              42
Hull                 35
Wigan                35
Bolton               28
Blackburn            28
Leeds                21
QPR                  21
Sheffield United     21
Brentford            21
Huddersfield         14
Nott'm Forest        14
Birmingham           14
Cardiff              14
Middlesbrough        14
Portsmouth           14
Reading               7
Blackpool             7
Luton                 7
Name: count, dtype: int64

In [13]:
for i in range(len(df)):
    if df['AwayTeam'][i] in use_team :
        pass
    else :
        df.drop(i, axis=0, inplace=True)
        
df.reset_index(drop=True, inplace=True)

In [14]:
df['HomeTeam'].value_counts()

HomeTeam
Chelsea       96
Liverpool     96
Man City      96
Everton       96
Arsenal       96
Tottenham     96
Man United    96
Name: count, dtype: int64

In [15]:
df['AwayTeam'].value_counts()

AwayTeam
Tottenham     96
Man United    96
Chelsea       96
Liverpool     96
Everton       96
Arsenal       96
Man City      96
Name: count, dtype: int64

In [16]:
df.dropna(axis=1, inplace = True)

In [17]:
df.head()

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,WHA,B365H,B365D,B365A,BWH,BWD,BWA,VCH,VCD,VCA
0,E0,2008-08-31,Chelsea,Tottenham,1,1,D,1,1,D,...,8.5,1.40,4.33,9.00,1.35,4.10,8.75,1.40,4.60,9.0
1,E0,2008-09-13,Liverpool,Man United,2,1,H,1,1,D,...,2.5,3.00,3.00,2.60,2.80,3.10,2.40,3.10,3.10,2.5
2,E0,2008-09-13,Man City,Chelsea,1,3,A,1,1,D,...,1.91,4.33,3.30,1.91,3.90,3.30,1.85,4.40,3.35,1.9
3,E0,2008-09-21,Chelsea,Man United,1,1,D,0,1,A,...,3.6,2.20,3.10,3.60,2.15,3.05,3.30,2.20,3.10,3.7
4,E0,2008-09-27,Everton,Liverpool,0,2,A,0,0,D,...,2.1,3.75,3.25,2.10,3.50,3.15,2.00,3.75,3.30,2.1

In [18]:
len(df)

672

In [19]:
df['Div'].value_counts()

Div
E0    672
Name: count, dtype: int64

In [20]:
df.drop(columns=['Div'], inplace = True)

In [23]:
df.head()

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,Referee,...,WHA,B365H,B365D,B365A,BWH,BWD,BWA,VCH,VCD,VCA
0,2008-08-31,Chelsea,Tottenham,1,1,D,1,1,D,H Webb,...,8.5,1.40,4.33,9.00,1.35,4.10,8.75,1.40,4.60,9.0
1,2008-09-13,Liverpool,Man United,2,1,H,1,1,D,H Webb,...,2.5,3.00,3.00,2.60,2.80,3.10,2.40,3.10,3.10,2.5
2,2008-09-13,Man City,Chelsea,1,3,A,1,1,D,M Halsey,...,1.91,4.33,3.30,1.91,3.90,3.30,1.85,4.40,3.35,1.9
3,2008-09-21,Chelsea,Man United,1,1,D,0,1,A,M Riley,...,3.6,2.20,3.10,3.60,2.15,3.05,3.30,2.20,3.10,3.7
4,2008-09-27,Everton,Liverpool,0,2,A,0,0,D,M Riley,...,2.1,3.75,3.25,2.10,3.50,3.15,2.00,3.75,3.30,2.1

In [25]:
df.columns

Index(['Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR', 'HTHG', 'HTAG',
       'HTR', 'Referee', 'HS', 'AS', 'HST', 'AST', 'HC', 'AC', 'HF', 'AF',
       'HY', 'AY', 'HR', 'AR', 'WHH', 'WHD', 'WHA', 'B365H', 'B365D', 'B365A',
       'BWH', 'BWD', 'BWA', 'VCH', 'VCD', 'VCA'],
      dtype='object')

https://www.football-data.co.uk/notes.txt